/* :root {
    --crsl-bg: transparent;
    --box-bg: #1e272e;
    --box-shadow: #0000001c;
    --box-shadow-border: #0000000f;
    --box-border: #fff;
  }
   */

  
  .carousel-container {
    position: relative;
    width: 100vw;
    margin: auto;
    height: auto;
  }
  
  .carousel {
    position: relative;
    overflow: hidden;
    height: auto;
  }
  
  .carousel__slider {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
  }
  
  /* .carousel__slider__item {
    flex: 0 0 auto; 
    width: 500px; 
    height: 350px; 
    margin: 0 20px; 
    transition: transform 1s ease-in-out;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: var(--box-bg);
  } */
  
  .carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .carousel__prev,
  .carousel__next {
    cursor: pointer;
    font-size: 24px;
    color: var(--box-border);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    margin: 0 10px; /* Adjust spacing between buttons */
  }
  
  .carousel__prev:hover,
  .carousel__next:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  