  
.logo{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

}

#site-logo {
  font-size: 30px;
  letter-spacing: 6px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1050px) {
  #site-logo {
    font-size: 26px;
  }
}
@media (max-width: 785px) {
  .logo{
    justify-content: flex-start;
    margin-left: 20px;
  }
}

